<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Por País</h2>
  <hr>

  <div class="row">

    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
         (onDebounce)="sugerencias($event)"
        placeholder="Buscar país..."
        ></app-pais-input>
    </div>
  </div>

  <ul class="list-group" *ngIf="mostrarSugerencias">
    <li class="list-group-item list-group-item-action"
        *ngFor="let pais of paisesSugeridos">
      <a [routerLink]="['/pais', pais.alpha2Code]"
        class="nav-link"
        >
      {{pais.name}}
      </a>
    </li>
    <li class="list-group-item list-group-item-action">
      <a class="nav-link"
         (click)="buscarSugerido(termino)"
        >
        Buscar "{{termino}}""
      </a>
    </li>
  </ul>

  <hr>
</div>
<div *ngIf="hayError"
  class="alert alert-danger">
  No se encontró nada con el término {{termino}}
</div>


<div class="row" *ngIf="paises.length > 0">
  <div class="col">
    <app-pais-tabla [paises]="paises">
    </app-pais-tabla>
  </div>
</div>
