<h2>Buquedas</h2>
<hr>

<ul class="list-group">
  <li class="list-group-item"
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    >
    Buscar país
  </li>
  <li class="list-group-item"
      routerLink="region"
      routerLinkActive="active">
    Por region</li>
  <li class="list-group-item"
      routerLink="capital"
      routerLinkActive="active">
    Por capital
  </li>
</ul>
