
<div class="animate__animated animate__fadeIn animate__faster">
  <h3>Buscar por region <small> {{regionActiva | titlecase}}</small></h3>
  <hr>

  <h5>Seleccione la region</h5>


  <div class="row">
    <div class="col">
      <button *ngFor="let region of regiones"
         [class]="getClaseCss(region)"
         (click)="activarRegion(region)"
         >
        {{region | titlecase}}
      </button>
    </div>
  </div>
</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises">
    </app-pais-tabla>
  </div>
</div>
